body {
	margin: 0;
	background-color: grey;
	background-image:url("http://1.bp.blogspot.com/-8kXo0pkD8rw/TnjzI0Wb2SI/AAAAAAAAAf0/_AK3B5GLxyU/s1600/Photo%2BSep%2B18%252C%2B7%2B43%2B09%2BAM.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow-y:hidden;
	overflow-x:hidden;
}

#phrase {
	font-family: 'PT Sans', sans-serif;
	font-size: 3em;
	color: rgb(255, 165, 0);
	padding: 2em 0 0 1em;
	position: absolute;
}

.wrapper{
    /*overflow:hidden; /*make sure the wrapper has no dimension*/
    width: 100%;
}

.item{
    float:left; 
}

.searchPhoto {
	width: 200px;
	height: 200px;
}

.searchPhoto img {
	width: 200px;
}

input[type="radio"]  {
	display:none;
}

input[type="radio"] + label{
	color: rgba(255, 165, 0,0.5);
}

input[type="radio"]:checked + label{
	color: rgba(255, 165, 0,1);
}

input[type="submit"]  {
	display:none;
}

input[type="submit"] + label{
	color: rgba(255, 165, 0,0.5);
	text-align:left;
	float:left;
}

#description {
	margin: 3% 75%;
	width: 20%;
	height: 80%;
}

.img {
	height: 30%;
}

img {
	width: inherit;
	height: inherit;
}